extends layout

block content
    section.main
        h1 Agregar Nuevo Gasto o Ingreso
        form(action="/agregar" method="post")
            .form-group
                label(for="descripcion") Descripción
                input(type="text" id="descripcion" name="descripcion" required)
            .form-group
                label(for="total") Total
                input(type="number" id="total" name="total" required)
            .form-group
                label(for="fecha") Fecha
                input(type="date" id="fecha" name="fecha" required)
            .form-group
                label(for="categoria") Categoría
                select(id="categoria" name="categoria" required)
                    option(value="") Seleccione una categoría
                    if categoria.length > 0
                        each cate in categoria
                            option(value="${cate.CategoriaID}") #{cate.Nombre}
            .form-group
                label(for="metodo_pago") Método de Pago
                select(id="metodo_pago" name="metodo_pago" required)
                    option(value="") Seleccione un método de pago
                    if metodo.length > 0
                        each meto in metodo
                            option(value="${meto.MetodoPagoID}") #{meto.Nombre}

            .form-group
                label(for="nota") Nota
                textarea(id="nota" name="nota" rows="4")
            .form-group
                label(for="etiquetas") Etiquetas
                input(type="text" id="etiquetas" name="etiquetas" placeholder="Separadas por comas")
            button(type="submit") Agregar